html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  overflow-x:hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

:root {
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: coral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--White);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--GrayishBlue);
}

.container {
  width: 1120px;
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(var(--LimeGreen)), to(var(--BrightCyan)));
  background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: var(--White);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(var(--BrightCyan)), to(var(--LimeGreen)));
  background: linear-gradient(to right, var(--BrightCyan), var(--LimeGreen));
}

.headerWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.header-section {
  background: var(--VeryLightGray);
}

.header-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.header-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  position: relative;
}

.header-image img:first-child {
  position: relative;
  top: -50px;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  bottom: 0;
  right: -200px;
}

.header-image img:last-child {
  position: absolute;
  top: -160px;
  right: -190px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navsection {
  background-color: white;
  position: relative;
  z-index: 1;
}

.header-text h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 30px;
}

.header-text p {
  margin-bottom: 30px;
  color: var(--GrayishBlue);
}

p {
  line-height: 1.4;
}

.pros-cons {
  background: var(--LightGrayishBlue);
  padding: 100px 0;
}

.pros-cons h1 {
  margin-bottom: 20px;
}

.pros-cons .prosheading {
  max-width: 60%;
}

.pros-cons p.ppros {
  color: var(--GrayishBlue);
  margin-bottom: 60px;
  font-size: 16px;
}

.pros-cons h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}

.pros-cons .cardwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pros-cons .cardwrapper > * + * {
  margin-left: 30px;
}

.article-section {
  padding: 70px 0;
  background: var(--White);
}

.article-section h1 {
  margin-bottom: 30px;
  font-weight: 400;
}

.article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-wrapper img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-wrapper .content {
  padding: 20px;
  background: var(--White);
}

.article-wrapper .content a {
  padding: 10px 0;
  text-decoration: none;
  display: inline-block;
  color: var(--DarkBlue);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.article-wrapper .content a:hover {
  color: var(--LimeGreen);
}

.article-wrapper .content p {
  font-size: 16px;
}

.article-wrapper > * + * {
  margin-left: 30px;
}

footer {
  background: var(--DarkBlue);
  padding: 30px;
}

footer ul {
  list-style: none;
}

footer ul.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

footer ul.social img:hover {
  background-color: var(--LimeGreen);
}

footer ul.social li > * + * {
  margin-left: 14px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container a {
  color: var(--White);
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .container a:hover {
  color: var(--LimeGreen);
}

footer .container li {
  margin-bottom: 1rem;
}

.footer-btn {
  text-align: right;
}

.footer-btn .copyright {
  margin-top: 2rem;
  color: var(--GrayishBlue);
  font-size: 14px;
}

.hamburger {
  display: none;
}

@media (max-width: 1198px) {
  .cardwrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardwrapper .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
    margin-bottom: 30px;
  }
  .cardwrapper .card:nth-child(odd) {
    margin-left: 0;
  }
  .article-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-wrapper .article-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media (max-width: 870px) {
  .nav-links {
    position: fixed;
    top: 80px;
    left: -871px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: var(--White);
    padding: 20px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0 30px 50px 5px #a0a0a0;
            box-shadow: 0 30px 50px 5px #a0a0a0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav-links li {
    padding-bottom: 1rem;
  }
  .nav-links li:last-child {
    padding-bottom: 0;
  }
  .nav-links a {
    color: var(--DarkBlue);
  }
  .nav-links.open {
    left: 50%;
  }
  .navbar-button {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .header-text p {
    font-size: 16px;
  }
  .header-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .headerWrap {
    padding: 1.2rem 0;
  }
  .header-image img:first-child {
    right: -50px;
  }
  .header-image img:last-child {
    right: -72px;
    top: -135px;
  }
  .pros-cons {
    padding: 30px 0;
  }
  .pros-cons .prosheading {
    min-width: 70%;
  }
  .pros-cons h1 {
    font-size: 24px;
  }
  .pros-cons p {
    font-size: 16px;
  }
  .article-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-wrapper > * + * {
    margin-top: 1rem;
  }
  .article-wrapper :nth-child(odd) {
    margin-left: 0;
  }
  .article-wrapper :nth-child(even) {
    margin-left: 0;
  }
  .cardwrapper .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin-left: 0;
  }
  .card {
    text-align: center;
  }
  .prosheading {
    margin-left: 5rem;
    text-align: center;
  }
}

@media (max-width: 741px) {
  .footercontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footercontainer .social {
    margin-top: 1rem;
  }
  .footercontainer .social li > * + * {
    margin-left: 10px;
  }
  .footercontainer .logos {
    margin-left: -10px;
  }
  .footercontainer .footer-btn {
    text-align: center;
  }
  .footercontainer .footer-btn .fbutton {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */
